---
// Home.astro
import MainLayouts from "../layout/MainLayouts.astro"
import Navbar from "../components/Navbar.astro"
import ImageCarousel from "../components/ImageCarousel.astro"
---

<MainLayouts title="Home Page">
  <Navbar />
  
  <main>
    <ImageCarousel />
    
  </main>
</MainLayouts>